.btn-outline-light:hover{
    color: #000000 !important;
    /* color: black !important; */
}
.btn-outline-light{
    outline-color: #555FFF !important;
}
.nav-item:hover{
    border-bottom: 4px solid #555FFF;
}

.quality{
    background: -webkit-linear-gradient(white, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-purple{
    background-color: #555FFF !important;
    color: white !important;
}
.outline-purple:hover{
    /* background-color: white !important; */
    color: #555FFF!important;
}
.text-purple{
    color: #555FFF !important;
}
.hero{
    background-image: url("../src/images/hero.jpg");
    background-size:cover;
    height: 100vh;
    margin-top: -70px;
    background-repeat: no-repeat;
}
.rightQuality{
    background-image: url("../src/images/quality.webp");
    background-size:cover;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    background-position-x: -635px;
}
